/* Reset styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 20px;
}

.container {
  max-width: 1128px;
  padding: 0 16px;
  margin: 0 auto;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  background-color: #e2e2e2;
  border-radius: 10px;

  padding: 20px;
}

.link {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  color: #000;
  padding: 10px 20px;
  background-color: #bababa;
  border-radius: 10px;
  outline: none;
  transition: background-color 0.2s ease-in;
}
